	ul#demo-block{ margin:0 15px 15px 15px; }
			ul#demo-block li{ margin:0 0 10px 0; padding:10px; display:inline; float:left; clear:both; color:#aaa; background:url('img/bg-black.png'); font:11px Helvetica, Arial, sans-serif; }
			ul#demo-block li a{ color:#eee; font-weight:bold; }
		.fullscreenDiv {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.centerCover {
//  background-color:rgba(255,255,255,0.2);
    line-height: 23px;
    text-align: center;
    position: absolute;
//    border: 1px dashed white;
    width: 320px;
    height: 480px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -160px;
    color:#FFFFFF;
    font-size:12px;
//-webkit-border-radius: 160px 200px;
//-moz-border-radius: 160px 200px;
//border-radius: 160px 200px;

}
.center {
//  background-color:rgba(255,255,255,0.1);
    line-height: 23px;
    text-align: center;
    position: absolute;
 //   border: 1px dashed white;
    width: 310px;
    height: 470px;
    top: 50%;
    left: 50%;
    margin-top: -235px;
    margin-left: -155px;
    color:#FFFFFF;
    font-size:12px;
 //   -webkit-border-radius: 200px 155px;
//-moz-border-radius: 200px 155px;
//border-radius: 200px 155px;

    -vendor-animation-duration: 10s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
    
}
.title
{
font-size:50px;line-height: 45px;font-weight:700;
 -vendor-animation-duration: 10s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}
.subTitle
{
font-weight:100;font-size:15px;
-vendor-animation-duration: 10s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}
.line
{
width:100%;border-bottom:1px dotted #DDDDDD;
-vendor-animation-duration: 10s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}
.content
{
font-weight:100;font-size:15px;
-vendor-animation-duration: 10s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;


}
.sharingKit
{
font-weight:100;font-size:15px;
-vendor-animation-duration: 10s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: 10;
margin-top:50px;

}


.socialFeild
{
opacity:0.4;
filter:alpha(opacity=0.4); /* For IE8 and earlier */

padding:10px;

-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
          
}
.socialFeild:hover
{
opacity:100;
padding:10px;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
.opl {
position:fixed;
top:100px;
left:0px;
z-index:99999;
}
.opl a {
width:73px;
height:56px;
text-indent:-9999px;
display:block;
background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png') no-repeat;
}
body
{
font-family: 'Josefin Sans', 'sans-serif';
}
